DATABASE_URL="postgresql://moyamoya:moyamoya123@localhost:5432/moyamoya"
JWT_SECRET="promijeni-ovo-u-produkciji-min-32-znaka"
PORT=3001
NODE_ENV=development
FRONTEND_URL="http://localhost:3000"
RESEND_API_KEY=""
FROM_EMAIL="noreply@moyamoya.app"
GOOGLE_CLIENT_ID=""
ADMIN_EMAIL="admin@moyamoya.app"
